@import 'vendors/variables';
@import 'vendors/bootstrap';

@import 'components/menu';
@import 'components/menu_lateral';
@import 'components/social';
@import 'components/timeline';

@import 'layout/header';
@import 'layout/section.scss';


.offcanvas-top{
    height: 200px !important;
}

body{
    font-size: 18px!important;
    line-height: 27px!important;
    padding-right: 0px !important;
}

a{
    transition: all .3s ease-in-out!important;
}

.pad-5-top {
    padding-top: 5rem;
}

.pad-5-bottom {
    padding-bottom: 5rem;
}

.middle-content{
    padding-top: 122px!important;

    @include media-breakpoint-up(sm){
        padding-top: 128px!important;
    }

    @include media-breakpoint-up(md) {
        padding-top: 140px!important;
    }

    @include media-breakpoint-up(xl) {
        padding-top: 163px!important;
    }
}

.middle_content.entry{
    margin: 0;
    padding: 0;
}

.middle_content.entry,
.entry-content-post {

    >* {
        margin-top: 2rem;
        margin-bottom: 2rem;

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include media-breakpoint-up(lg) {
            text-align: justify;
        }
    }

    a {
        @extend .text-break;
        color: $primary;
        text-decoration: none;
        display: inline;

        &:hover {
            text-decoration: underline;
            color: $primary;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        color: $primary;
    }

    h2 {
        &:not(:first-child) {
            margin-top: 4rem;
        }
    }

    h3 {
        &:not(:first-child) {
            margin-top: 3rem;
        }
    }

    ul {
        @extend .pe-0;

        li {
            display: flex;
            align-items: center;
            padding-left: 30px;
            line-height: 1.5;

            &:not(:first-child) {
                margin-top: .5rem;
            }

            &:before {
                content: '\f111'!important;
                font-family: fontawesome;
                font-weight: bold;
                font-style: normal;
                margin: 0px 20px 0px 10px;
                text-decoration: none;
                @extend .text-primary;
                font-size: 10px;
                margin-left: -30px;
            }
        }
    }

    ol {
        li {
            line-height: 1.5;

            &:not(:first-child) {
                margin-top: .5rem;
            }
        }
    }

    .wp-bootstrap-blocks-button {

        .btn {

            &:hover {
                text-decoration: none;
            }
        }

        .btn-primary,
        .btn-secondary {
            color: $white;
        }
    }
}

.s-descricao p{
    padding-bottom: 8px;
    font-size: 14px;
}

.wp-block-table>table{
    @extend .table, .table-striped;
}

.bg-page-header{
    background: url(../../../uploads/2023/10/banner.png)!important;
}

a[class*="cmsmasters-icon-"]:hover {
    color: #fff !important;
    background: #218bad !important;
    border-color: #218bad !important;
}

// .animate-border::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     display: block;
//     height: 100%;
//     width: 10px;
//     background-color: #125c52;
//     transition: all .3s ease;
// }

.animate-border {
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 10px;
        transition: all .3s ease;
    }

    h3 {
        position: relative;
        z-index: 5;
    }

    &:hover {

        h3 {
            color: #fff !important;
        }

        &::before {
            width: 100%;
        }
    }

    &--primary{
        &::before{
            background-color: $primary;
        }
    }

    &--secondary {
        &::before {
            background-color: $secondary;
        }
    }

}

.entry-content-post {
    ul{
        li{
            display: block;
        }
    }
}