.l-header-site {
    background-color: $primary;
    position: absolute;
    z-index: 9999;
    width: 100%;

    &__sticky {
        position: relative;
        width: 100%;

        .sticky & {
            background-color: $primary;
            position: fixed;
            right: 0;
            top: 0;
        }
    }
}
