.nav-menu-lateral {

    >ul {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0;

        >li.menu-item {
            display: flex;
            flex: 100%;
            background-color: transparent;
            border-bottom: 1px solid rgba(255, 255, 255, 0.18);
            transition: background-color 300ms ease;
            width: 100%;
            margin: 0;

            >a {
                color: $primary;
                padding: 1rem;
                width: 100%;
                text-decoration: none;
                font-size: 1.2rem;
            }

            &:hover {
                background-color: transparent;
            }
        }

        li.current-menu-item {
            background-color: transparent;
        }

        li.menu-item-has-children {
            flex-direction: column;
            position: relative;

            >a {
                &:after {
                    content: '\f107';
                    font-family: fontawesome;
                    font-style: normal;
                    margin: 0px 25px 0px 0px;
                    text-decoration: none;
                    color: $primary;
                    font-size: 1rem;
                    position: absolute;
                    right: 0;
                    -webkit-transition: all .3s linear;
                    -o-transition: all .3s linear;
                    transition: all .3s linear;
                }

                @media(max-width:991px){
                    &:after {
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }

            }

            >a.ativo {
                &:after {
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }

            &:hover{
                .sub-menu{
                    max-height: 500px !important;
                }
            }
        }

        ul.sub-menu {
            max-height: 0;
            overflow: hidden;
            transition: all .7s linear;
            list-style: none;
            padding-left: 0;

            @media(max-width:991px){
                max-height: 800px !important;
            }

            &.aberto {
                max-height: 800px !important;
            }

            >li {
                display: flex;
                background-color: transparent;
                border-bottom: 1px solid rgba($primary, 0.18);

                &:last-child {
                    border-bottom: 0;
                }

                >a {
                    color: $primary;
                    padding: 1rem 1rem 1rem 3rem;
                    width: 100%;
                    text-decoration: none;
                    position: relative;

                    &:before {
                        content: '\f105';
                        font-family: fontawesome;
                        font-style: normal;
                        margin: 0px 10px 0px 10px;
                        text-decoration: none;
                        color: $primary;
                        font-size: .8rem;
                        position: absolute;
                        left: 0;
                        bottom: 12px;
                    }
                }
            }
        }
    }
}
