.c-item-social {
    @extend .rounded-circle;
    width: 30px;
    height: 30px;
    border: 1px solid $white;
    transition: .2s;

    a {
        @extend .align-items-center, .d-flex, .justify-content-center;
        color: $white;
        height: 100%;
        width: 100%;
    }

    &:hover {
        background-color: $white;

        a {
            color: $primary;
        }
    }
}
