input[type="reset"]{
    display: inline-block;
    padding: 0 28px;
    position: relative;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-align: center;
    border-color: #e0e0e0;
    background-color: #ffffff;
    color: #222222;
    font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    line-height: 42px;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    transition: all .3s ease;

    &:hover{
        border-color: #549548;
        background-color: #549548;
        color: #f2f2f2;
    }
}

.open_icon {

    i[class*="fa-"]{
        font-size: 24px;
        line-height: 24px;
        width: 50px;
        height: 50px;
        margin: auto !important;
        position: absolute;
        left: auto;
        right: 10px;
        top: 10px;
        bottom: auto;
        background-color: #0d90b5;
        color: #fff;
        transition: all .3s ease-in-out;

        &::before{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    &:hover i[class*="fa-"]{
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        font-size: 36px;
        line-height: 36px;
    }

}

.h-size{
    min-height: 120px;
}

// .animate-border{
//     position: relative;

//     &::before{
//         content: '';
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         display: block;
//         height: 100%;
//         width: 10px;
//         background-color: #0d90b5;
//         transition: all .3s ease;
//     }

//     h3{
//         position: relative;
//         z-index: 5;
//     }

//     &:hover{

//         h3{
//             color: #fff !important;
//         }

//         &::before{
//             width: 100%;
//         }
//     }
// }

.img-post{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.text-break{
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

label[class="cmsmasters_theme_icon_search"]{
    background: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
    border-width: 0;
    border-style: solid;
    -webkit-box-shadow: none;
    box-shadow: none;

    &::before{
        font-size: 14px;
        width: 1em;
        height: 1em;
        margin: auto !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

li.mov_bar {
    position: absolute !important;
    height: 2px !important;
    top: auto;
    bottom: 0;
    background: #fff;
    transition: all .3s ease-in-out;
}
