// menu principal
@include media-breakpoint-down(xl) {
    .c-nav-menu {
        background-color: $primary;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        max-width: 100%;
        z-index: 5;
        overflow-x: hidden;
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        transition: all .4s ease-in-out;

        &.show-menu {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            transition: all .4s ease-in-out;
        }

        .nav-menu-principal {
            width: 100%;

            >ul {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                width: 100%;
                padding-left: 0;

                >li.menu-item {
                    display: flex;
                    flex: 100%;
                    background-color: transparent;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
                    transition: background-color 300ms ease;
                    width: 100%;
                    margin: 0;

                    >a {
                        color: $white;
                        padding: 1rem;
                        width: 100%;
                        text-decoration: none;
                        font-size: 1.2rem;
                    }

                    &:hover {
                        background-color: transparent;
                    }
                }

                li.current-menu-item {
                    background-color: transparent;
                }

                li.menu-item-has-children {
                    flex-direction: column;
                    position: relative;

                    >a {
                        &:after {
                            content: '\f107';
                            font-family: fontawesome;
                            font-style: normal;
                            margin: 0px 25px 0px 0px;
                            text-decoration: none;
                            color: $white;
                            font-size: 1rem;
                            position: absolute;
                            right: 0;
                            -webkit-transition: all .3s linear;
                            -o-transition: all .3s linear;
                            transition: all .3s linear;
                        }
                    }

                    >a.ativo {
                        &:after {
                            -webkit-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }
                    }
                }

                ul.sub-menu {
                    max-height: 0;
                    overflow: hidden;
                    transition: all .7s linear;
                    list-style: none;
                    padding-left: 0;

                    &.aberto {
                        max-height: 500px !important;
                    }

                    >li {
                        display: flex;
                        background-color: transparent;
                        border-bottom: 1px solid rgba($white, 0.18);

                        &:last-child {
                            border-bottom: 0;
                        }

                        >a {
                            color: $white;
                            padding: 1rem 1rem 1rem 3rem;
                            width: 100%;
                            text-decoration: none;
                            position: relative;

                            &:before {
                                content: '\f105';
                                font-family: fontawesome;
                                font-style: normal;
                                margin: 0px 10px 0px 10px;
                                text-decoration: none;
                                color: $white;
                                font-size: .8rem;
                                position: absolute;
                                left: 0;
                                bottom: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {

    .c-nav-menu {

        .nav-menu-principal {
            height: 84px;

            >ul {
                display: inline-flex;
                list-style: none;
                height: 100%;

                >li.menu-item {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    cursor: pointer;
                    @include transition(all .2s ease-in-out);
                    padding: 0 .5rem;

                    >a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 1.1rem;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        text-wrap: nowrap;
                    }

                    // &.current-menu-item {
                    //     >a {
                    //         font-weight: bold;
                    //     }
                    // }

                    &.current-menu-item {
                        >a {
                            font-weight: bold;
                        }
                    }
                }

                >li.menu-item-has-children {
                    position: relative;

                    // >a {
                    //     &:after {
                    //         content: '\f107';
                    //         font-family: fontawesome;
                    //         //font-weight: 300;
                    //         margin-left: 5px;
                    //     }
                    // }

                    &:hover {
                        ul.sub-menu {
                            visibility: visible;
                            opacity: 1;
                            // animation-name: slideInUp;
                            // animation-duration: .3s;
                        }
                    }
                }
            }

            //submenu
            ul.sub-menu {
                list-style: none;
                width: 250px;
                height: 80vh;
                position: absolute;
                left: 0;
                visibility: hidden;
                opacity: 0;
                z-index: 2000;
                @include transition(all .2s ease-in-out);
                border-top: 0;
                text-align: left;
                margin: 0;
                padding: 0;
                top: 84px;
                overflow: auto;

                >li.menu-item {

                    &:first-child {
                        // margin-top: 22px;
                    }

                    a {
                        padding: 13px 15px;
                        display: flex;
                        border-left: 5px solid $primary;
                        border-bottom: 1px solid rgba($dark, .30);
                        text-align: left;
                        color: $primary;
                        font-size: 1rem;
                        background-color: $white;
                        @include transition(all .2s ease-in-out);
                        width: 100%;

                        // &:before {
                        //     font-family: FontAwesome;
                        //     content: '\f105';
                        //     font-weight: 300;
                        //     margin-right: 5px;
                        // }
                    }

                    &:hover,
                    &.current-menu-item {
                        a {
                            //background-color: lighten($cor4, 7%);
                            color: $secondary;
                            border-color: $secondary;
                        }
                    }

                }
            }
        }

    }

}
