.container-timeline {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.container-timeline::before {
    position: absolute;
    left: 80px;
    content: '';
    width: 5px;
    height: 100%;
    background-color: rgb(231, 230, 230);
    border-radius: 5px;

    @include media-breakpoint-up(lg) {
        left: 50%;
    }
}

.entry {
    margin: 50px 10px;
    position: relative;
}

.indicator {
    position: absolute;
    top: -5px;
    left: calc(70px - 5px);
    width: 15px;
    height: 15px;
    background-color: $white;
    border: 1px solid $primary;
    border-radius: 50%;

    @include media-breakpoint-up(lg) {
        left: calc(50% - 5px);
    }
}

.indicator span {
    position: relative;
    top: -9px;
    right: -3px;
    width: 7px;
    height: 8px;
    display: inline-block;
    background-color: $primary;
    border-radius: 50%;
}

.content-timeline {
    //width: 200px;
    margin: 0 auto 0 100px;
    //transform: translate(-58%, -9px);
    text-align: left;

    @include media-breakpoint-up(lg) {
        width: 420px;
        transform: translate(-58%, -9px);
        margin: 0 auto;
    }

    @include media-breakpoint-up(xl) {
        width: 500px;
    }

    @include media-breakpoint-up(xxl) {
        width: 560px;
    }
}

.entry:nth-child(odd) .content-timeline {
    text-align: left;

    @include media-breakpoint-up(lg) {
        transform: translate(60%, -9px);
    }
}

.content-timeline span {
    font-weight: 500;
    font-size: 16px;
    display: block;
    color: rgb(250, 112, 49);
}

.time {
    position: absolute;
    top: 0;
    left: 70px;
    transform: translate(-130%, -48%);
    //font-size: 14px;
    padding: 5px 10px;
    //border-radius: 25px;
    background-color: $primary;
    //box-shadow: 0 3px 6px 0 rgba(250, 113, 49, 0.658);
    color: white;
    display: inline-block;

    @include media-breakpoint-up(lg) {
        left: 50%;
    }
}

.entry:nth-child(even) .time {

    @include media-breakpoint-up(lg) {
        transform: translate(40%, -48%);
    }
}

@media only screen and (max-width: 991px) {
    .container-timeline {
        margin: 0;
    }

    .entry:nth-child(even) .content-timeline,
    .entry:nth-child(odd) .content-timeline {
        text-align: left;
        //transform: translate(60%, -9px);
    }

    .entry:nth-child(even) .time,
    .entry:nth-child(odd) .time {
        //transform: translate(-130%, -48%);
    }
}
